*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#canvas{
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 10px;
    border: 10px solid #dabfbf;
}

#tooltip{
    visibility: hidden;
}